.musicPlayer{
  width: 100%;
  padding: 10px;
  display: flex;
}

.musicPlayer .songImage{
  width: 120px;
  min-width: 120px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.musicPlayer .songImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.musicPlayer .songAttributes{
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.musicPlayer .songAttributes .top,
.musicPlayer .songAttributes .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.musicPlayer .songAttributes .top .left,
.musicPlayer .songAttributes .top .middle,
.musicPlayer .songAttributes .top .right{
  display: flex;
  color: #595959;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  font-size: 18px;
}

.musicPlayer .songAttributes .top .left i,
.musicPlayer .songAttributes .top .middle i,
.musicPlayer .songAttributes .top .right i{
  margin: 0px 15px;
}

.musicPlayer .songAttributes .top .left .love i{
  color: #49e12e !important;
  filter: drop-shadow(0px 0px 4px #49e12e);
}

.musicPlayer .songAttributes .top .middle .backward i:nth-child(2),
.musicPlayer .songAttributes .top .middle .foward i:nth-child(1){
  color: #9a9a9a !important;
}

.musicPlayer .songAttributes .top .middle .playPause{
  height: 30px;
  width: 30px;
  min-width: 30px;
  border-radius: 100%;
  color: black;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicPlayer .songAttributes .bottom{
  margin-top: 20px;
  padding: 0px 20px;
}

.musicPlayer .songAttributes .bottom .progressBar{
  width: 80%;
  position: relative;
  height: 5px;
  outline: none;
  border: none;
  appearance: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  overflow: hidden;
}

.musicPlayer .songAttributes .bottom .progressBar::before{
  position: absolute;
  content: "aaa";
  top: 0;
  left: 0;
  background: #848484;
  width: var(--player-played);
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: all 0.3s ease;
}

.musicPlayer .songAttributes .bottom .progressBar::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
}

/*fire-fox*/
.musicPlayer .songAttributes .bottom .progressBar::-moz-range-track{
  width: 80%;
  position: relative;
  height: 5px;
  outline: none;
  border: none;
  appearance: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.musicPlayer .songAttributes .bottom .progressBar::-moz-range-progress{
  background: #848484;
  width: var(--player-played);
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: all 0.3s ease;
}

.musicPlayer .songAttributes .bottom .progressBar::-moz-range-thumb{
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  outline: none;
}

.musicPlayer .songAttributes .bottom .currentTime,
.musicPlayer .songAttributes .bottom .duration{
  color: #f1f1f1;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .musicPlayer .songImage{
    width: 100px;
    min-width: 100px;
  }

  .musicPlayer .songAttributes .top .left i,
  .musicPlayer .songAttributes .top .middle i,
  .musicPlayer .songAttributes .top .right i{
    margin: 0px 5px;
  }

  .musicPlayer .songAttributes .bottom{
    padding: unset;
  }

  .musicPlayer .songAttributes .bottom .progressBar{
    width: 65%;
  }
}

